<main class="posts_main l_contents">
  <div class="posts-wrapper">
    <article class="posts_article">
      <div class="posts_article-inner">
        <div class="posts_article-header">
          <div class="posts_article_user-img-wrapper">
            <!--<img class="posts_article_user-img" width="48" height="48" alt="profile画像" />-->
            <svg class="posts_article_user-img" xmlns="http://www.w3.org/2000/svg" role="img" width="32px" height="32px" viewBox="0 0 24 24" aria-labelledby="headphonesIconTitle" stroke="#fff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#fff"> <title id="headphonesIconTitle">Headphones</title> <path stroke-linecap="round" d="M21,13 L19,13 C17.8954305,13 17,13.8954305 17,15 L17,17 C17,18.1045695 17.8954305,19 19,19 L19,19 C20.1045695,19 21,18.1045695 21,17 L21,13 C21,8.02943725 16.9705627,4 12,4 C7.02943725,4 3,8.02943725 3,13 L3,17 C3,18.1045695 3.8954305,19 5,19 L5,19 C6.1045695,19 7,18.1045695 7,17 L7,15 C7,13.8954305 6.1045695,13 5,13 L3,13"/>
          </div>
          <!--/.posts_article_img-wrapper-->
          <div class="posts_article_info">
            <h3 class="posts_article_user-name">takashi</h3>
            <div class="posts_article_info-sm">
              <span class="posts_article_user-id">@takashisamadesugananika</span>
              <time class="posts_article_time">5:38 - 今日</time>
            </div>
            <!--/.posts_article_info-sm-->
          </div>
          <!--/.posts_article_info-->
        </div>
        <!--/.posts_article-header-->
        <p class="posts_article_txt">
          この曲、ガチでおもろすぎて初めて聞いたときコーヒー全部吹いたわwwwwwww
        </p>
        <div class="posts_article_player-wrapper">
        </div>
      </div>
      <!--/.posts_article-inner-->
    </article>
    <article class="posts_article">
      <div class="posts_article-inner">
        <div class="posts_article-header">
          <div class="posts_article_user-img-wrapper">
            <!--<img class="posts_article_user-img" width="48" height="48" alt="profile画像" />-->
            <svg class="posts_article_user-img" xmlns="http://www.w3.org/2000/svg" role="img" width="32px" height="32px" viewBox="0 0 24 24" aria-labelledby="headphonesIconTitle" stroke="#fff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#fff"> <title id="headphonesIconTitle">Headphones</title> <path stroke-linecap="round" d="M21,13 L19,13 C17.8954305,13 17,13.8954305 17,15 L17,17 C17,18.1045695 17.8954305,19 19,19 L19,19 C20.1045695,19 21,18.1045695 21,17 L21,13 C21,8.02943725 16.9705627,4 12,4 C7.02943725,4 3,8.02943725 3,13 L3,17 C3,18.1045695 3.8954305,19 5,19 L5,19 C6.1045695,19 7,18.1045695 7,17 L7,15 C7,13.8954305 6.1045695,13 5,13 L3,13"/>
          </div>
          <!--/.posts_article_img-wrapper-->
          <div class="posts_article_info">
            <h3 class="posts_article_user-name">takashi</h3>
            <div class="posts_article_info-sm">
              <span class="posts_article_user-id">@takashisamadesugananika</span>
              <time class="posts_article_time">5:38 - 2022/22/22</time>
            </div>
            <!--/.posts_article_info-sm-->
          </div>
          <!--/.posts_article_info-->
        </div>
        <!--/.posts_article-header-->
        <p class="posts_article_txt">
          この曲、ガチでおもろすぎて初めて聞いたときコーヒー全部吹いたわwwwwwww
        </p>
        <div class="posts_article_player-wrapper">
        </div>
      </div>
      <!--/.posts_article-inner-->
    </article>
    <article class="posts_article">
      <div class="posts_article-inner">
        <div class="posts_article-header">
          <div class="posts_article_user-img-wrapper">
            <!--<img class="posts_article_user-img" width="48" height="48" alt="profile画像" />-->
            <svg class="posts_article_user-img" xmlns="http://www.w3.org/2000/svg" role="img" width="32px" height="32px" viewBox="0 0 24 24" aria-labelledby="headphonesIconTitle" stroke="#fff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#fff"> <title id="headphonesIconTitle">Headphones</title> <path stroke-linecap="round" d="M21,13 L19,13 C17.8954305,13 17,13.8954305 17,15 L17,17 C17,18.1045695 17.8954305,19 19,19 L19,19 C20.1045695,19 21,18.1045695 21,17 L21,13 C21,8.02943725 16.9705627,4 12,4 C7.02943725,4 3,8.02943725 3,13 L3,17 C3,18.1045695 3.8954305,19 5,19 L5,19 C6.1045695,19 7,18.1045695 7,17 L7,15 C7,13.8954305 6.1045695,13 5,13 L3,13"/>
          </div>
          <!--/.posts_article_img-wrapper-->
          <div class="posts_article_info">
            <h3 class="posts_article_user-name">takashi</h3>
            <div class="posts_article_info-sm">
              <span class="posts_article_user-id">@takashisamadesugananika</span>
              <time class="posts_article_time">5:38 - 今日</time>
            </div>
            <!--/.posts_article_info-sm-->
          </div>
          <!--/.posts_article_info-->
        </div>
        <!--/.posts_article-header-->
        <p class="posts_article_txt">
          この曲、ガチでおもろすぎて初めて聞いたときコーヒー全部吹いたわwwwwwww
        </p>
        <div class="posts_article_player-wrapper">
        </div>
      </div>
      <!--/.posts_article-inner-->
    </article>
    <article class="posts_article">
      <div class="posts_article-inner">
        <div class="posts_article-header">
          <div class="posts_article_user-img-wrapper">
            <!--<img class="posts_article_user-img" width="48" height="48" alt="profile画像" />-->
            <svg class="posts_article_user-img" xmlns="http://www.w3.org/2000/svg" role="img" width="32px" height="32px" viewBox="0 0 24 24" aria-labelledby="headphonesIconTitle" stroke="#fff" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="miter" fill="none" color="#fff"> <title id="headphonesIconTitle">Headphones</title> <path stroke-linecap="round" d="M21,13 L19,13 C17.8954305,13 17,13.8954305 17,15 L17,17 C17,18.1045695 17.8954305,19 19,19 L19,19 C20.1045695,19 21,18.1045695 21,17 L21,13 C21,8.02943725 16.9705627,4 12,4 C7.02943725,4 3,8.02943725 3,13 L3,17 C3,18.1045695 3.8954305,19 5,19 L5,19 C6.1045695,19 7,18.1045695 7,17 L7,15 C7,13.8954305 6.1045695,13 5,13 L3,13"/>
          </div>
          <!--/.posts_article_img-wrapper-->
          <div class="posts_article_info">
            <h3 class="posts_article_user-name">takashi</h3>
            <div class="posts_article_info-sm">
              <span class="posts_article_user-id">@takashisamadesugananika</span>
              <time class="posts_article_time">5:38 - 今日</time>
            </div>
            <!--/.posts_article_info-sm-->
          </div>
          <!--/.posts_article_info-->
        </div>
        <!--/.posts_article-header-->
        <p class="posts_article_txt">
          この曲、ガチでおもろすぎて初めて聞いたときコーヒー全部吹いたわwwwwwww
        </p>
        <div class="posts_article_player-wrapper">
        </div>
      </div>
      <!--/.posts_article-inner-->
    </article>
  </div>
  <!--/.js_posts-wrapper-->
  
  <!-- 以下、実験中 -->
  <%= text_field_tag :search, "", class: "posts_input", remote: true %>
  <h2>結果</h2>
  <div class="result"></div>
</main>