<div class="posts_modal">
  <div class="posts_modal-inner">
    <div class="posts_modal-header">
      <h2 class="posts_modal_head">レコメンド投稿する</h2>
      <div class="posts_modal_cross js_posts_modal_cross">
        <span class="posts_modal_cross-bar"></span>
        <span class="posts_modal_cross-bar"></span>
      </div>
      <!--/.posts_modal_cross-->
    </div>
    <!--/.posts_modal-header-->
    <form class="posts_form">
      <textarea class="posts_form_textarea" placeholder="自由にテキストを入力しよう！"></textarea>
      <input class="posts_form_text" type="text" placeholder="曲名を入力してください" />
      <div class="posts_form_tracks"></div>
      <div class="posts_btn-wrapper">
        <button class="posts_btn posts_btn_cancel">キャンセル</button>
        <button class="posts_btn posts_btn_submit">投稿する</button>
      </div>
      <!--/.posts_btn-wrapper-->
    </form>
  </div>
  <!--/.posts_modal-inner-->
</div>
<!--/.posts_modal-->