<!--// modal-->
let $postModal = $(".js_posts_modal-wrapper");
$postModal.html("<%= j(render "posts/new") %>");
let postModalOpacity = $postModal.css("opacity");
<!--// postBtn-->
let $postBtn = $(".js_post-button");
let postBtnRight = $postBtn.css("right");
let postBtnOpacity = $postBtn.css("opacity");
<!--// wrapper-->
let $wrapper = $(".js_wrapper")
let wrapperOpacity = $wrapper.css("opacity");
<!--// body-->
let $body = $(".js_body");
<!--×印-->
let $postModalCross = $(".js_posts_modal_cross");
<!--キャンセルボタン-->
let $cancelBtn = $(".js_btn_cancel");
let fadeTime = 240;
$postModal.hide();
<!--モーダル表示-->
$postBtn.on("click", function() {
  $(this).animate({
    right: "-120px"
  },
  fadeTime);
  $wrapper.css({
    pointerEvents: "none"
  });
  // レコメンド一覧を非表示
  $body.css({
    overflowY: "hidden"
  });
  $wrapper.animate({
    opacity: "0.1",
  },
  fadeTime);
  $postModal.fadeIn(fadeTime);
});
<!--モーダル非表示-->
let modalHide = () => {
    $postModal.fadeOut(fadeTime);
    $wrapper.animate({
      opacity: wrapperOpacity
    },
    fadeTime);
    $body.css({
      overflowY: "scroll"
    });
    $wrapper.css({
      pointerEvents: "auto",
    });
    $postBtn.animate({
      right: postBtnRight
    },
    fadeTime);
};
<!--×印を押すとモーダル非表示-->
$postModalCross.on("click", function() {
  modalHide();
});
<!--キャンセルボタンを押すとモーダル非表示-->
$cancelBtn.on("click", function() {
  modalHide();
});

<!-- spotifyAPIを用いた曲検索 -->
let formExplanationWrapperHtml = `
<div class="posts_form_tracks_explanation-wrapper">
  <p class="posts_form_tracks_explanation">ここに曲検索の結果が入ります</p>
</div>`;
let $formTracks = $(".posts_form_tracks");
let cnt = 0;
$(".posts_form_text").on("keyup", function() {
  let seq = $(this).val();
  let $trackItems = $(".posts_form_tracks").find(".posts_form_tracks_item");
  if (!seq) {
    $trackItems.remove();
    <!-- 初期状態に戻す -->
    if (cnt == 0) {
      $formTracks.append(formExplanationWrapperHtml);
      cnt = 1;
    }
  }
  $.ajax({
    type: "GET",
    url: "<%= ENV["LOCAL_URL"] %>",
    data: { search: seq },
    dataType: "json"
  })
  .done(function(tracks) {
    console.log(tracks);
    <!-- 検索結果をクリア -->
    $trackItems.remove();
    <!-- 説明文を消す -->
    $formTracks.find(".posts_form_tracks_explanation-wrapper").remove();
    cnt = 0;
    <!-- 検索結果を表示 -->
    for (let i = 0; i < tracks.length; i++) {
    let trackId = tracks[i]["id"];
    let trackImage = tracks[i]["album"]["images"][1]["url"];
    let trackName = tracks[i]["name"];
    let trackArtist = tracks[i]["artists"][0]["name"];
    $(".posts_form_tracks")
    .append(`
    <a data-remote="true" href="/posts/track_select?track_id=${trackId}">
      <div class="posts_form_tracks_item">
        <div class="posts_form_tracks_img-wrapper">
          <img class="posts_form_tracks_img" src="${trackImage}" />
        </div>
        <div class="posts_form_tracks_info-wrapper">
          <p class="posts_form_tracks_name">${trackName}</p>
          <p class="posts_form_tracks_artist">${trackArtist}</p>
        </div>
      </div>
    </a>`);
    <!--.append(`<iframe src="https://open.spotify.com/embed/track/${tracks[i]['id']}" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>`);-->
    }
  });
});