<!-- モーダル描画 -->
$(".js_modal-wrapper").html("<%= j(render "posts/new") %>");
<!-- fadeTime -->
var fadeTime = 240;
<!--鉛筆ボタンを画面外に飛ばす-->
$(".js_post-button").animate({
  right: "-120px"
},
fadeTime);
<!-- モーダル以外のポインタイベントを無効にする -->
$(".js_wrapper").css({
  pointerEvents: "none"
});
<!-- bodyのスクロール無効にする -->
$(".js_body").css({
  overflowY: "hidden"
});
<!-- モーダル以外のopacityを小さくする -->
$(".js_wrapper").animate({
  opacity: "0.1",
},
fadeTime);
<!-- モーダルをフェードイン表示 -->
$(".js_modal-wrapper").fadeIn(fadeTime);
<!-- 曲検索結果初期表示 -->
$(".js_form_tracks").html(`
<div class="posts_form_tracks_explanation-wrapper">
  <p class="posts_form_tracks_explanation">ここに曲検索の結果が入ります</p>
</div>`);
<!-- 初期スタイルに設定 -->
$(".js_form_tracks").addClass("is_active");

<!-- spotifyAPIを用いた曲検索 -->
$(".js_form_text").on("keyup", function() {
  <!-- 検索文字列を格納 -->
  let seq = $(this).val();
  let $trackItems = $(".js_form_tracks").find(".posts_form_tracks_item");
  if (!seq) {
    <!-- 検索結果を削除 -->
    $trackItems.remove();
    <!-- 初期状態に戻す -->
    $(".js_form_tracks").html(`
    <div class="posts_form_tracks_explanation-wrapper">
      <p class="posts_form_tracks_explanation">ここに曲検索の結果が入ります</p>
    </div>`);
  }
  $.ajax({
    type: "GET",
    url: "<%= new_post_path %>",
    data: { search: seq },
    dataType: "json"
  })
  .done(function(tracks) {
    console.log(tracks);
    <!-- 検索結果をクリア -->
    $trackItems.remove();
    <!-- 説明文を消す -->
    $(".js_form_tracks").find(".posts_form_tracks_explanation-wrapper").remove();
    <!-- 検索結果を表示 -->
    for (let i = 0; i < tracks.length; i++) {
    let trackId = tracks[i]["id"];
    let trackImage = tracks[i]["album"]["images"][1]["url"];
    let trackName = tracks[i]["name"];
    let trackArtist = tracks[i]["artists"][0]["name"];
    $(".posts_form_tracks")
    .append(`
    <div class="posts_form_tracks_item">
      <a class="posts_form_tracks_link" data-remote="true" href="/posts/select?track_id=${trackId}&track_image=${trackImage}&track_name=${trackName}&track_artist=${trackArtist}&search=${seq}">
        <div class="posts_form_tracks_img-wrapper">
          <img class="posts_form_tracks_img" src="${trackImage}" />
        </div>
        <div class="posts_form_tracks_info-wrapper">
          <p class="posts_form_tracks_name">${trackName}</p>
          <p class="posts_form_tracks_artist">${trackArtist}</p>
        </div>
      </a>
    </div>`);
    }
  });
});