<!--// modal-->
var $postModal = $(".js_posts_modal-wrapper");
$postModal.html("<%= j(render "posts/new") %>");
var postModalOpacity = $postModal.css("opacity");
<!--// postBtn-->
var $postBtn = $(".js_post-button");
var postBtnRight = $postBtn.css("right");
var postBtnOpacity = $postBtn.css("opacity");
<!--// wrapper-->
var $wrapper = $(".js_wrapper")
var wrapperOpacity = $wrapper.css("opacity");
<!--// body-->
var $body = $(".js_body");
<!--×印-->
var $postModalCross = $(".js_posts_modal_cross");
<!--キャンセルボタン-->
var $cancelBtn = $(".js_btn_cancel");
var fadeTime = 240;
$postModal.hide();
<!-- 検索結果初期表示 -->
var formExplanationWrapperHtml = `
<div class="posts_form_tracks_explanation-wrapper">
  <p class="posts_form_tracks_explanation">ここに曲検索の結果が入ります</p>
</div>`;
<!--モーダル表示-->
$postBtn.animate({
  right: "-120px"
},
fadeTime);
$wrapper.css({
  pointerEvents: "none"
});
// レコメンド一覧を非表示
$body.css({
  overflowY: "hidden"
});
$wrapper.animate({
  opacity: "0.1",
},
fadeTime);
$postModal.fadeIn(fadeTime);
$(".js_form_tracks").html(formExplanationWrapperHtml);
$(".js_form_tracks").addClass("is_active");

<!-- spotifyAPIを用いた曲検索 -->
$(".posts_form_text").on("keyup", function() {
  <!-- 検索文字列を格納 -->
  let seq = $(this).val();
  let $trackItems = $(".js_form_tracks").find(".posts_form_tracks_item");
  if (!seq) {
    <!-- 検索結果を削除 -->
    $trackItems.remove();
    <!-- 初期状態に戻す -->
    $(".js_form_tracks").html(formExplanationWrapperHtml);
  }
  $.ajax({
    type: "GET",
    url: "<%= new_post_path %>",
    data: { search: seq },
    dataType: "json"
  })
  .done(function(tracks) {
    console.log(tracks);
    <!-- 検索結果をクリア -->
    $trackItems.remove();
    <!-- 説明文を消す -->
    $(".js_form_tracks").find(".posts_form_tracks_explanation-wrapper").remove();
    <!-- 検索結果を表示 -->
    for (let i = 0; i < tracks.length; i++) {
    let trackId = tracks[i]["id"];
    let trackImage = tracks[i]["album"]["images"][1]["url"];
    let trackName = tracks[i]["name"];
    let trackArtist = tracks[i]["artists"][0]["name"];
    $(".posts_form_tracks")
    .append(`
    <div class="posts_form_tracks_item">
      <a class="posts_form_tracks_link" data-remote="true" href="/posts/select?track_id=${trackId}&track_image=${trackImage}&track_name=${trackName}&track_artist=${trackArtist}&search=${seq}">
        <div class="posts_form_tracks_img-wrapper">
          <img class="posts_form_tracks_img" src="${trackImage}" />
        </div>
        <div class="posts_form_tracks_info-wrapper">
          <p class="posts_form_tracks_name">${trackName}</p>
          <p class="posts_form_tracks_artist">${trackArtist}</p>
        </div>
      </a>
    </div>`);
    }
  });
});