<!-- 検索文字列を受け取る -->
var seq = "<%= @search %>";
<!-- 入力欄に値を戻す -->
$(".js_form_text").attr("disabled", false);
$(".js_form_text").attr("placeholder", "曲名を入力してください");
$(".js_form_text").val(seq);
<!-- submitボタンを無効化 -->
$(".js_btn_submit").attr("disabled", true);
$(".js_form_textarea").on("keyup", function() {
  $(".js_btn_submit").attr("disabled", true);
});
<!-- 検索結果を再描画 -->
$(".js_form_tracks").removeClass("is_hidden");
$(".js_form_tracks").addClass("is_active");

<!-- ajax再通信 -->
$.ajax({
  type: "GET",
  url: "<%= new_post_path %>",
  data: { search: seq },
  dataType: "json"
})
.done(function(tracks) {
  console.log(tracks);
  <!-- 検索結果をクリア -->
  $(".js_form_tracks").find(".posts_selected-track_item").remove();
  <!-- 検索結果を表示 -->
  for (let i = 0; i < tracks.length; i++) {
  let trackId = tracks[i]["id"];
  let trackImage = tracks[i]["album"]["images"][1]["url"];
  let trackName = tracks[i]["name"];
  let trackArtist = tracks[i]["artists"][0]["name"];
  $(".posts_form_tracks")
  .append(`
  <div class="posts_form_tracks_item">
    <a class="posts_form_tracks_link" data-remote="true" href="/posts/select?track_id=${trackId}&track_image=${trackImage}&track_name=${trackName}&track_artist=${trackArtist}&search=${seq}">
      <div class="posts_form_tracks_img-wrapper">
        <img class="posts_form_tracks_img" src="${trackImage}" />
      </div>
      <div class="posts_form_tracks_info-wrapper">
        <p class="posts_form_tracks_name">${trackName}</p>
        <p class="posts_form_tracks_artist">${trackArtist}</p>
      </div>
    </a>
  </div>`);
  }
});