// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ------------ posts ------------ */
/* index */
.posts_article {
  &:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
  }
  &-inner {
    padding: 16px 24px 32px;
  }
  &-header {
    display: flex;
  }
  &_user-img-wrapper {
    width: 48px;
    height: 48px;
    background: var(--gray-color);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &_info {
  margin-left: 16px;
  width: calc(100% - 64px);
  }
  &_user-name {
    font-weight: bold;
  }
  
  &_info-sm {
    line-height: 1.0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_user-id {
    font-size: 12px;
  }
  &_time {
    font-size: 12px;
    color: var(--gray-color02);
  }
  
  &_txt {
    margin-top: 16px;
    font-weight: medium;
    line-height: 1.5;
  }
  
  &_player-wrapper {
    width: 100%;
    height: 80px;
    background: var(--gray-color);
    margin-top: 16px;
  }
}

/* new */
.posts_modal {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  width: calc(100vw - 32px);
  height: calc(100vh - 96px * 2);
  position: fixed;
  top: 96px;
  background: var(--white-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  z-index: var(--z-index-header);
  &-inner {
    padding: 16px 16px 24px;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  &-inner::-webkit-scrollbar {
    display: none;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_head {
    font-size: 20px;
    font-weight: bold;
  }
  &_cross {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    &-bar {
      display: block;
      width: 120%;
      height: 2px;
      background: var(--gray-color);
      position: absolute;
      top: 50%;
      left: 50%;
      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.posts_form {
  margin-top: 20px;
  & input[type="text"]:focus,
  & textarea:focus {
    border: 2px solid var(--primary-color);
  }
  & input::placeholder {
    font-weight: medium;
    color: var(--gray-color02);
  }
  &_textarea {
    width: 100%;
    height: 120px;
    border: 1px solid var(--gray-color02);
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: medium;
    line-height: 1.5;
    resize: none;
    &::placeholder {
      color: var(--gray-color02);
    }
  }
  &_text {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid var(--gray-color02);
    border-radius: 5px;
    padding: 8px 12px;
  }
  &_tracks {
    margin-top: 20px;
    width: 100%;
    height: 220px;
    border: var(--gray-color);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 1px solid var(--gray-color02);
    &_explanation-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--gray-color);
    }
    &_explanation {
      font-size: 18px;
      font-weight: bold;
      color: var(--white-color);
    }
    &_item {
      width: 100%;
      height: 80px;
    }
    &_item:not(:first-child) {
      border-top: 1px solid var(--gray-color02);
    }
    &_link {
      display: flex;
      width: 100%;
      height: 100%;
    }
    &_img-wrapper {
      width: 80px;
      height: 100%;
      flex-shrink: 0;
      // border-top: 1px solid var(--gray-color02);
    }
    &_img {
      width: 100%;
      height: 100%;
    }
    &_info-wrapper {
      height: 100%;
      width: calc(100% - 80px);
      padding: 0 12px;
      white-space: nowrap;
      overflow: hidden;
      -ms-overflow-style: none;
    }
    &_name {
      font-weight: bold;
      color: var(--gray-color);
      margin-top: 12px;
      text-overflow: ellipsis;
    }
    &_artist {
      font-size: 14px;
      color: var(--gray-color);
      margin-top: 4px;
    }
  }
}

.posts_btn-wrapper {
    margin-top: 20px;
    display: flex;
}

.posts_btn {
  width: calc((100% - 16px) / 2);
  height: 60px;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: var(--white-color);
  // flex-shrink: 0;
  &:not(:first-child) {
    margin-left: 16px;
  }
  &_cancel {
    background: var(--gray-color02);
  }
  &_submit {
    background: var(--primary-color);
  }
}