<header class="l_header">
  <h1 class="l_header_title">MusiQ</h1>
  <nav class="l_header_nav">
    <ul class="l_header_nav-list">
      <li class="l_header_nav-item"><a class="l_header_nav-link">マイページ</a></li>
      <li class="l_header_nav-item"><a class="l_header_nav-link">マイページ</a></li>
      <li class="l_header_nav-item"><a class="l_header_nav-link">マイページ</a></li>
    </ul>
  </nav>
</header>